* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #e5e5e5;
	font-family: 'Poppins', sans-serif;
}

.grey {
	color: gray;
}

/* ================================================================ */
/* =============================== Navbar ========================= */

img {
	max-width: 100%;
	max-height: 100%;
}

.logo {
	height: 25px;
	margin-top: 1.4em;
	margin-left: 2em;
}

nav {
	height: 70px;
	box-shadow: inset 0px 1px 3px 0px black;
	background: #fff;
}

/* ================================================================ */
/* =============================== Main ========================= */

/* Hero-image */
.heroImage {
	display: flex;
	justify-content: center;
	margin-top: 3em;
}

.gridImage {
	width: 330px;
}

/* Online experiences */
.experiencesText {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 2em;
}

.titleOnline {
	margin: 0;
	padding: 0;
	margin: 1em 0 0.3em 0;
	font-size: 2rem;
}

.textOnline {
	width: 330px;
	margin: 0;
	padding: 0;
	font-weight: 300;
}

/* ================================================================ */
/* =============================== Cards ========================= */
.card--one {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -2.8em;
}

.card-img-one {
	padding: 4em;
	border-radius: 80px;
	margin-bottom: 0;
}

.star-img,
.stars-title,
.grey {
	display: inline-block;
}

.star-img {
	height: 0.8em;
	margin-right: 0.2em;
}

.stars {
	margin-top: -5em;
	margin-bottom: -1.8em;
}

.details {
	margin-left: 4.2em;
}

.one {
	margin-bottom: -1em;
}

.title-offer {
	font-size: 0.75em;
	font-weight: 300;
}

.rating {
	margin-left: 0.3em;
	margin-right: 0.3em;
}

.two {
	font-weight: bold;
}

.containerImg {
	position: relative;
}

.soldout {
	position: absolute;
	top: 80px;
	left: 80px;
	background-color: #fff;
	border-radius: 5px;
	padding: 0.4em;
	font-weight: 300;
	font-size: 0.75em;
	text-align: center;
}
